@media screen and (max-width:1399px) {
    .noti-box img {
        width: 100%;
        height: 100%;
    }

    .noti-img {
        width: 120px;
        height: 157px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .noti-box p {
        font-size: 18px;
    }

    .pariatur-bussiness .top-1,
    .pt-120,
    .sec-login .pt-10 {
        padding-top: 0 !important
    }

    .navbar-nav>li:not(:last-child) {
        margin-right: 20px !important
    }

    .feature-brand .text-box {
        width: 363px
    }

    .forms-box .width-380 {
        width: 100% !important
    }

    .pt-33 {
        padding: 40px !important
    }

    .forget-text .font-45 {
        font-size: 2.5rem !important;
        margin-top: -10px !important
    }

    .referral-input input {
        width: 380px
    }

    .overflow-autos .card {
        min-height: 430px;
    }

    .overflow-autos .card-bottom {
        margin-top: 0
    }

    .green-dot {
        margin-left: 10px;
        width: 9px !important;
        height: 8px !important;
        position: relative;
        left: 7px;
        top: -2px
    }

    .suscribe-text h4 {
        color: #696982 !important;
        margin-top: 0
    }

    .suscribtion-text-box .mar-3 {
        margin-left: 50px
    }

    .single-text {
        padding: 21px 0
    }

    .back-button {
        margin-top: 19px
    }

    .login-box {
        height: 1000px;
    }
}

@media screen and (max-width:1199px) {
     .d-md-block {    display: unset !important;}
    .noti-box {
        padding: 20px 43px;
    }

    .noti-img {
        width: 100px;
        height: 130px;
    }

    .noti-box p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .submit-btn {
        font-size: 16px !important
    }

    .font-10 {
        font-size: 11px !important
    }

    .map-sec .img-setting {
        position: absolute;
        right: 33px;
        top: 7px
    }

    .mt-10 {
        margin-top: 0
    }

    .participating-businesses-single .butn-none {
        position: unset;
        padding-top: 10px;
        top: 28px;
        left: 14px
    }

    .participating-business .row.pt {
        padding-top: 20px !important
    }

    footer.mt {
        margin-top: 100px !important
    }

    .participating-businessea.pariatur-bussiness {
        padding-top: 60px
    }

    .sing-text {
        padding: 10px
    }

    .form__field:placeholder-shown~.form__label {
        font-size: 16px !important
    }

    .map-sec .search-input {
        width: 179px !important
    }

    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        left: -198px;
        top: 35px
    }

    .account-tabs-content .grid-col .img-box .plus-img {
        position: absolute;
        top: -31px;
        width: 22px;
        right: 0;
        height: 22px;
        overflow: hidden
    }

    /* .sec-membership{
        height:100vh
    } */
    .justify-content h3 {
        margin-top: 80px !important
    }

    .benner-text-box {
        margin-top: 50px !important
    }

    .feature-brand .container.pt {
        padding-top: 50px !important
    }

    .feature-text-box {
        padding-bottom: 0
    }

    html {
        font-size: 90%
    }

    .navbar-nav>li:not(:last-child) {
        margin-right: 15px !important
    }

    .feature-brand .text-box {
        width: 302px
    }

    .text-yellow {
        width: 155px !important
    }

    li.nav-item .text-yellow {
        color: #ba8b00 !important;
        padding-left: 17px !important
    }

    .font-2 {
        padding: 6px 9px
    }

    .forget-text .font-45 {
        font-size: 2.2rem !important;
        margin-top: -32px !important
    }

    .forget-text .font-20 {
        font-size: 1.1rem !important
    }

    .pt-120 {
        padding-top: 0 !important
    }

    .pt-33 {
        padding: 30px !important
    }

    .account {
        padding-top: 50px
    }

    .account-tabs {
        min-width: 270px
    }

    .overflow-autos .card {
        height: auto
    }

    .suscribtion-text-box {
        margin-left: 0
    }


    .subscription-text {
        padding: 20px
    }

    .suscription-text-box .subscription-text {
        padding: 20px 0
    }

    .suscription-text-box p {
        padding-left: 0
    }

    .account-tabs-content .switch-notification {
        width: 509px;
        margin-left: 0
    }

    .overflow-autos .mar-left-20 {
        margin-left: 40px
    }

    .overflow-autos .mar-left-60 {
        margin-left: 82px
    }

    .referral-input input {
        width: 263px
    }

    .referral-text {
        margin-top: 20px
    }

    .position {
        position: absolute;
        padding: 25px 20px
    }

    .about-btn {
        margin: 22px -6px
    }

    .discription-text-box h3 {
        padding-top: 38px;
        font-weight: 500
    }

    .single-text {
        padding: 35px 20px 35px 0
    }

    .back-button {
        padding-top: 10px
    }

    .logout-dropdown ul.dropdown-menu {
        left: -30px
    }

    section.my-account-sec {
        margin-top: 90px !important
    }

    .map-sec .mar-1 {
        margin-top: -4px
    }

    .map-sec .img-of-search {
        width: 17px
    }

    section.map-sec {
        margin-top: 97px
    }

    .map-sec .search-input {
        height: 38px
    }

    .navbar-nav>li>a {
        padding: 0 !important
    }

    .participating-businesse .pt {
        padding-top: 10px !important
    }

    .pt-20 {
        padding-top: 7px !important
    }

    .mar-tops {
        margin-top: 69px
    }

    .sec-login .account {
        font-size: .925rem !important
    }

    .become-a-member .font-20 {
        font-size: 14px !important
    }

    .become-a-member .submit-btn {
        height: 57px
    }

    .become-a-member .account {
        padding-top: 40px
    }

    .sing-text h1 {
        font-size: 30px !important
    }

    .benner-section {
        padding: 60px 0;
    }

    .banner-slider .slider-item .slider-title p {
        font-size: 20px;
        margin-bottom: 17px;
    }

    .banner-slider .slider-first-img {
        height: 100%;
    }

    .feature-brand {
        padding: 100px 0;
    }
}

@media screen and (max-width:991px) {
    .slick-next {    right: 0 !important;}
    .slick-prev {left: 0 !important;z-index: 99;}
    div#navbarSupportedContent a {    font-size: 15px !important;}
    div#navbarSupportedContent li , div#navbarSupportedContent li a {    display: block;    width: 100% !important;    margin: 0 !important;}
    div#navbarSupportedContent {    background-color: #ebebeb;    padding: 10px;    border-radius: 7px;}
    div#navbarSupportedContent li.bg-yellow a {    text-align: center;    margin-bottom: 10px !important;}
    div#navbarSupportedContent li {    margin: 5px 0 !important;}
    .about-text {    width: 100%;    margin: 10px 0px;}
    html .about-text-box p.font-14 {    min-height: unset;}
    .sing-text.become-a-member .col-12 {    margin-bottom: 20px;}
.sing-text.become-a-member .col-12 span.member_radio_btn {    font-size: 13px;}
.sing-text.become-a-member .pt-50 {    padding-top: 0 !important;}
.sec-login .account {    margin-top: 0 !important;}
header.d-block.d-md-none {    display: none !important;}
h4.font-22, html .banner-slider .slider-item .slider-title p {    font-family: poppins !important;    font-weight: 400 !important;    font-style: normal !important;    line-height: 1.6;    font-size: 16px !important;}
    
    
    .bg-yellow,
    .suscribe-btn {
        background-color: #ba8b00 !important
    }

    .card-body .font-10,
    .card-text,
    .font-12 {
        font-size: 11px !important
    }

    .become-a-member .pt-50,
    .discription-text-box p,
    .membership-text {
        padding-top: 0
    }

    .sign-box {
        height: 100vh !important
    }

    .benner-text-box {
        margin-top: 50px !important
    }

    .login-img {
        height: 100% !important
    }

    .form__group {
        margin-bottom: 25px;
        margin-top: 15px !important
    }

    .referral-history-img img {
        position: relative;
        top: -14px
    }

    .annual-img {
        padding-bottom: 60px
    }

    .img-setting {
        right: 31px !important
    }

    .sec-membership {
        /* height:95vh */
        padding: 50px;
    }

    .height-200 {
        height: 500px !important
    }

    .form-group {
        position: relative;
        margin-bottom: 50px !important
    }

    .pt-33 {
        padding: 0 !important
    }

    .img-icon .img {
        padding: 5px
    }

    .img-icon .img button img {
        width: 18px
    }

    header .container {
        max-width: 100%
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0
    }

    html {
        font-size: 70%
    }

    .navbar-nav>li:not(:last-child) {
        margin-right: 10px !important
    }

    .text-yellow {
        width: 105px !important;
        height: 28px !important
    }

    .feature-brand .text-box {
        width: 223px
    }

    li.nav-item .text-yellow {
        color: #ba8b00 !important;
        padding-left: 4px !important
    }

    .bg-yellow {
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
        width: 50px !important;
        height: 27px !important;
        padding-left: px
    }

    .feature-text-box {
        padding-bottom: 15px;
        padding-top: 15px
    }

    .participating-business .icon {
        position: absolute;
        right: 5px;
        top: 9px;
        font-size: 1rem;
        background-color: #000;
        opacity: .7;
        color: #fff !important;
        padding: 5px;
        border-radius: 5px
    }

    .participating-business .pt {
        padding-top: 30px !important
    }

    .single-text {
        padding: 35px 20px 35px 56px
    }

    .logout-dropdown .dropdown-toggle::after {
        left: 2px;
        top: 2px
    }

    .font-2 {
        padding: 6px;
        width: 28px;
        height: 31px
    }

    .review-modal .modal-dialog {
        min-width: 600px;
        margin: 0 auto
    }

    .modal-header .btn-close {
        padding: .7rem;
        margin: -.1rem -.6rem -.6rem auto
    }

    .btn-redeemed {
        padding: 6px 30px;
        margin-top: -22px;
        height: 39px
    }

    .discription-text-box .discription-text-icon {
        display: flex !important;
        align-items: center;
        justify-content: space-between
    }

    .input-number input {
        width: 68px;
        height: 44px;
        border: none;
        color: #3b3b4d;
        margin-top: -17px
    }

    .input-number button {
        height: 35px;
        width: 30px;
        margin-top: -13px
    }

    .discription-text-box h3 {
        padding-top: 0;
        margin-top: -10px;
        font-weight: 500
    }

    .login-text-box .font-45 {
        font-size: 1.8125rem !important
    }

    .sec-login .input {
        font-size: 0;
        padding: 18px
    }

    .sec-login .login-box {
        height: auto
    }

    .sec-login .sign-btn {
        height: 53px
    }

    .sec-login .account {
        font-size: .96rem !important;
        padding-top: 37px
    }

    .submit-btn {
        height: 56px
    }

    .sec-login .font-20 {
        font-size: 1.15rem !important
    }

    .mar-bottom-1 {
        margin-top: 133px !important
    }

    .sec-login .form-check {
        margin-top: -6px
    }

    .suscribe-btn {
        border: none;
        width: 91px;
        height: 30px;
        color: #fff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .suscribe-text h1 span {
        color: #696982
    }

    .subscription-text .font-10 {
        font-size: .525rem !important
    }

    .mt {
        margin-top: 100px !important
    }

    .mt-5 {
        margin-top: 22px !important
    }

    .account-tabs-content .switch-notification {
        width: 356px
    }

    .padding-100 {
        padding-bottom: 107px
    }

    .referral-input .share-link-btn {
        border-radius: 4px;
        background-image: linear-gradient(to bottom, #f5d68a, #b38c2d);
        width: 110px;
        height: 40px;
        border: none;
        margin-top: 15px
    }

    table .padding-1 {
        padding: 11px 24px !important
    }


    .suscribtion-text-box .form-check .form-check-input {
        float: left;
        margin-left: -1.5em;
        margin-top: 10px
    }

    .suscribtion-text-box .width-01 {
        object-fit: cover !important;
        border-radius: 4px !important;
        border: 1px solid #8a9eb8 !important
    }

    .tab-content-box {
        background-color: #fff;
        padding: 8px
    }

    .overflow-autos .mar-left-20 {
        margin-left: 26px
    }

    .overflow-autos .mar-left-60 {
        margin-left: 52px
    }

    .overflow-autos {
        height: 70vh;
        overflow: auto
    }

    .images-box img {
        height: 480px !important
    }

    .sing-text h1 {
        margin-bottom: 31px !important;
        font-weight: 600;
        color: #2a2e43 !important;
        margin-top: -17px
    }

    .sec-subscription .bg-white {
        background-color: #fff !important;
        height: 492px
    }

    .sec-login .bg-ofwhite {
        background-color: #eaedf2
    }

    .login-img {
        width: 100%
    }

    .sec-subscription .login-img {
        width: 100%;
        height: 492px
    }

    .sec-subscription .subscription-box {
        height: 493px
    }

    .login-box .login-img {
        width: 100%;
        height: 533px
    }

    .position {
        top: 203px
    }

    .tab-content-area {
        background-color: #eff2f5;
        padding: 14px;
        min-height: 100vh
    }

    .subscription-text {
        padding: 1px 20px;
        margin-top: 5px
    }

    .suscribtion-text-box {
        margin-left: 5px
    }

    .suscription-text-box .subscription-text {
        padding: 21px 7px
    }

    .suscription-text-box p {
        padding-left: 5px
    }

    .overflow-autos .card {
        height: auto;
        margin: 0
    }

    .my-favorites {
        height: 30px
    }

    .overflow-autos .pt-20 {
        padding-top: 9px !important
    }

    .sec-subscription .subscription-text {
        padding: 1px 20px;
        margin-top: -1px
    }

    .sec-about .icon-box {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 106px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .479);
        font-size: 4rem
    }

    .sec-about .about-text-box h2 {
        margin-top: -50px
    }

    .account-tabs {
        min-width: 230px
    }

    .account-tabs-content .switch-notification {
        margin-left: 20px
    }

    .account-tabs button.nav-link i {
        color: #696982;
        font-size: 24px;
        margin-top: 2px;
        margin-right: 20px;
        position: relative;
        top: 4px
    }

    .reset {
        height: 60px !important
    }

    .justify-content h3 {
        margin-top: 33px !important
    }

    .card-text {
        color: rgba(32, 33, 36, .6) !important
    }

    .forget-text {
        padding: 40px 20px
    }

    .forget-btn {
        margin-top: 32px !important
    }

    .login-sign-img {
        height: 1000px !important
    }

    .login-text-box {
        padding: 35px 20px
    }

    .sec-login .pt-10 {
        padding-top: 0 !important
    }

    .suscribtion-text-box p {
        font-size: 16px !important;
    }

    .suscribtion-text-box .suscribe-text p {
        font-size: 14px !important;
    }

    .suscribe-text label,
    .suscribe-texts label,
    header {
        font-size: 13px !important;
    }

    .suscribes-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .suscribes-btn button {
        width: 160px;
        height: 45px;
    }

    .suscribe-text {
        padding: 10px;
    }
}

@media screen and (max-width:767px) {
    .noti-box img {
        width: 70px;
        height: 120px;
        margin: 0;
    }

    .noti-img {
        height: 150px;
    }

    .noti-box p {
        font-size: 14px;
        font-weight: 300 !important;
    }


    .height,
    .map-img {
        height: 70vh;
    }

    .suscribed-text-box .package-box {
        margin-right: 50px;
        padding: 10px 10px 10px 15px
    }

    .subscribed-text h1 {
        padding-left: 10px
    }

    .suscribed-text-box .subscribed-date-box {
        margin-right: 70px;
        padding: 10px 10px 10px 15px
    }

    .suscribed-text-box .expiry-date-box {
        padding: 22px 0 25px
    }

    .padding-suscribed-section {
        padding: 20px 0 !important
    }

    .tab-content-box .edit-profile {
        width: 114px;
        height: 46px;
        color: #fff;
        background-color: #ba8b00;
        border: none;
        border-radius: 4px;
        font-weight: 500
    }

    .overflow-autos .card {
        height: auto;
        margin: 0
    }

    .tab-content-box {
        background-color: #fff;
        padding: 8px 8px 87px
    }

    .btn-group {
        width: 117px;
        margin-bottom: 10px
    }

    .map-sec .search-back-img {
        margin-left: 0
    }

    .map-sec .img-of-search {
        width: 12px;
        position: absolute;
        left: 7px;
        top: 14px
    }

    .map-sec .search-input {
        padding-left: 28px
    }

    .map-sec .resturent-name {
        padding: 14px
    }

    .participating-businesses-single .butn-none {
        position: unset;
        padding-top: 10px
    }

    .participating-businesse .pt {
        padding-top: 20px !important
    }

    .referral-history-img .img-fluid,
    .sec-login .login-img {
        object-fit: cover;
        object-fit: cover
    }

    .logins-boxs-center .login-text-box .login-text .font-45,
    .sing-text h1 {
        font-size: 25px !important
    }

    .description-img {
        margin-bottom: 30px
    }

    .sec-subscription .subscription-text {
        padding-bottom: 20px
    }

    .modal-header button {
        padding-left: 12px !important
    }

    .form__group {
        margin-bottom: 15px
    }

    .referral-history-img img {
        position: relative;
        top: -1px
    }

    .modal-body .modal-img-text {
        justify-content: center
    }

    .officail-code-modal .modal-content {
        margin: 0 auto;
        width: 70%
    }

    .mar-tops {
        margin-top: 9px
    }

    .height .pt-top-1 {
        padding-top: 40px;
        padding-bottom: 40px
    }

    .annual-img {
        padding-bottom: 0
    }

    /* .sec-membership{
        height:89vh
    } */
    .map-sec .search-input {
        width: 227px !important
    }

    .category-text {
        top: 15px
    }

    .emails {
        margin-top: 5px !important
    }

    .account-tabs {
        min-width: 154px !important
    }

    .sec-membership .pt {
        padding-top: 31px !important
    }

    .sec-subscription .bg-white {
        height: auto !important
    }

    .sec-subscription .subscription-text {
        margin-top: 31px !important
    }

    .height .sec-login {
        background-color: #eaedf2
    }

    .height .sec-login .mb-5 {
        margin-bottom: 1rem !important
    }

    .form-group {
        position: relative;
        margin-bottom: 18px !important
    }

    .sing-text h1 {
        margin-bottom: 26px !important;
        font-weight: 600;
        color: #2a2e43 !important;
        margin-top: 13px
    }

    .user-profile .dropdown-menu {
        min-width: auto;
        margin-top: 20px !important
    }

    .notification-dropdown .dropdown-menu .dropdown-item {
        padding: 10px 5px
    }

    .notification-dropdown .dropdown-menu .dropdown-item .icon-box2 {
        margin-right: 10px
    }

    .logout-dropdown ul.dropdown-menu {
        margin-top: 20px !important
    }

    header .dropdown {
        margin-right: 20px
    }

    header .user-profile button {
        background-color: #ba8b00;
        width: 30px;
        height: 35px;
        font-size: 18px;
        border-color: transparent;
        color: #fff
    }

    header {
        padding: 10px 15px
    }

    .menubar {
        background-color: #ba8b00;
        height: 100%
    }

    .menubar>li {
        border-bottom: 1px solid #fff
    }

    .menubar>li>a {
        padding: 20px 10px;
        display: block;
        color: #fff !important;
        font-size: 18px
    }

    .forget-password-center,
    .logins-boxs-center,
    .member-ship-img,
    .mobile-menu-bar .offcanvas-body {
        padding: 0
    }

    .absolute {
        position: unset
    }

    .icon-box {
        width: 115px;
        height: 120px;
        font-size: 4rem
    }

    .review-modal .modal-dialog {
        min-width: 500px
    }

    .sec-login {
        background-color: #eaedf2;
        padding-bottom: 146px
    }

    .login-text-box .font-45 {
        font-size: 2.9125rem !important
    }

    .sec-login .sign-box {
        height: 421px
    }

    .sec-login .pt-120 {
        padding-top: 35px !important
    }

    .feature-brand .text-box {
        width: 100%
    }

    .img-box img {
        margin-top: 16px !important
    }

    .profile-box {
        flex-direction: column
    }

    .tab-content-box .edit-profile {
        margin-top: 48px
    }

    .tab-content-area {
        padding: 15px
    }

    .referral-input .share-link-btn {
        width: 89px
    }

    .img-col {
        margin: -2px 0
    }

    footer ul>li:not(last-chlid) {
        margin-left: -25px
    }

    .account-tabs button.nav-link i {
        font-size: 17px;
        margin-right: 9px
    }



    .suscription-text-box {
        margin-top: 143px
    }

    .subscription-text {
        padding: 31px 20px;
        margin-top: -144px
    }

    .account-tabs-content .switch-notification {
        width: 335px
    }

    .notifications-text-box .subscription-text {
        margin-top: 11px
    }

    table .padding-1 {
        padding: 9px 12px !important
    }

    .text-box {
        background-color: #ba8b00 !important;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        width: 420px
    }

    .images-box img {
        height: 362px !important
    }

    .sec-about .icon-box {
        width: 90px;
        height: 94px;
        font-size: 3rem
    }

    .mt {
        margin-top: 200px !important
    }

    .sec-membership .img-fluid {
        height: auto
    }

    .about-text-box p {
        color: #202124;
        font-weight: 600;
        padding-top: 0
    }

    .sec-about .about-text-box h2 {
        margin-top: -22px
    }

    .position {
        top: 253px;
        padding: 11px 0
    }

    .card-img img {
        padding-top: 105px;
        height: 230px
    }

    .single-text {
        padding: 15px 0
    }

    .back-button,
    .discription-icon {
        padding-top: 0
    }

    .about-btn {
        margin: -9px -6px 10px
    }

    .description-img img {
        width: 100%;
        height: 315px
    }

    .referral-history-img .img-fluid {
        max-width: 100%;
        height: 200px;
        margin-top: 20px
    }

    .suscribe-text {
        margin-top: 4px
    }

    .term-text h1 {
        margin-bottom: 2px
    }

    .account-tabs-content .switch-notification {
        margin-left: 17px;
        margin-top: -33px
    }

    .account-tabs-content .grid-col .img-box .plus-img {
        top: 58px
    }

    .sec-login .account {
        padding-left: 6px;
        padding-top: 0;
        margin-top: -28px
    }

    .sec-subscription .suscribe-text {
        margin-top: 4px;

        background: #fff;

    }

    .sec-subscription .subscription-box {
        height: 493px
    }

    .feature-text-box {
        padding-bottom: 30px;
        padding-top: 23px
    }

    section.my-account-sec {
        margin-top: 6px !important
    }

    section.map-sec {
        margin-top: 10px
    }

    .map-area {
        height: 640px;
        overflow: auto
    }

    .map-sec .search-input {
        height: 38px
    }

    .map-sec .img-setting {
        width: 18px;
        position: absolute;
        right: -13px;
        top: 10px
    }

    .sec-about {
        margin-top: 30px !important
    }

    .participating-business .pt {
        padding-top: 0 !important;
        margin-top: -70px
    }

    .participating-businesses-single .mt-10 {
        margin-top: -11px
    }

    .participating-businesses-single .card-img img {
        padding-top: 41px;
        height: auto
    }

    .discription-text {
        margin-top: 0
    }

    .mar-bottom-1 {
        margin-top: 111px !important
    }

    .suscribtiom-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 118vh
    }

    .login-sign-img {
        height: 291px !important
    }

    .login-sign-img img {
        height: 200px
    }

    section.participating-business {
        margin-top: 50px
    }

    .become-a-member .sing-text {
        padding: 30px 20px !important
    }

    .sign-box {
        height: 410px !important
    }

    .height .sec-login {
        padding: 50px 0 !important
    }

    .suscribtion-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto
    }

    .become-a-member .pt-50 {
        padding-top: 50px
    }

    .height-200 {
        height: 300px !important
    }

    .sec-login .login-img {
        height: 100% !important
    }

    .forget-text .font-45 {
        font-size: 2.2rem !important;
        margin-top: -15px !important
    }

    .sec-membership .annual-member-ship {
        padding: 75px 10px
    }

    .member-ship-text h2 {
        font-size: 20px
    }

    .member-ship-text h1 {
        font-size: 22px
    }

    .member-ship-text h4,
    .member-ship-text p {
        font-size: 14px
    }

    .suscribe-text h4 {
        font-size: 18px !important;
    }

    .suscribe-text h1 {
        font-size: 25px !important;
    }

    .suscribtion-text-box .suscribe-text p {
        font-size: 12px !important;
    }

    .suscribes-btn button {
        margin: 0;
        height: 35px;
        width: 108px;
    }

    .suscribe-text .form-check {
        padding: 6px 20px;
    }

    .bg-3b3b4d {
        margin: 10px 0;
    }

    .suscribe-text label,
    .suscribe-texts label,
    header {
        font-size: 12px !important;
    }

    .slider-title {
        margin-top: 15px;
        text-align: center !important;
    }

    .banner-slider .slider-item .slider-title p {
        font-size: 16px;
    }

    .feature-brand {
        padding: 50px 0 70px;
    }
}

@media screen and (max-width:575px) {

    .green-dot,
    .member-ship-54-img,
    .member-ship-text {
        margin-left: 10px
    }

    .participating-businessea.pariatur-bussiness .top-1 .pt {
        margin-top: 0;
        padding-top: 0 !important
    }

    .suscribtiom-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh
    }

    .form__group {
        margin-bottom: 9px
    }

    .suscribed-text-box .display-flex {
        flex-direction: row !important
    }

    .suscribed-text-box .package-box {
        margin-right: 20px;
        padding: 10px 10px 10px 15px
    }

    .subscribed-text h1 {
        padding-left: 10px
    }

    .suscribed-text-box .subscribed-date-box {
        margin-right: 10px;
        padding: 10px 10px 10px 15px
    }

    .suscribed-text-box .expiry-date-box {
        padding: 22px 0 25px
    }

    .padding-suscribed-section {
        padding: 20px 0 !important
    }

    .modal-body .modal-img-text {
        justify-content: center
    }

    .officail-code-modal .modal-dialog {
        min-width: auto
    }

    .officail-code-modal .modal-content {
        margin: 0 auto;
        width: 100%
    }

    .forget-text label {
        font-size: 14px
    }

    .forget-text .emails {
        margin-top: 28px !important
    }

    .annual-img {
        padding-bottom: 0
    }

    .btn-group {
        padding: 0 10px;
        height: auto;
        padding: 3px;
        margin-bottom: 10px
    }

    .emails {
        margin-top: 2px
    }

    /* .sec-membership{
        height:83vh
    } */
    .height-200 {
        height: 315px !important
    }

    .forms-box .form-group input {
        margin-top: 9px !important
    }

    .feature-img-box {
        padding: 1px 2px;
        border: 1px solid #f1f1f1;
        width: 160px !important;
        height: 82px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    footer .text-footer {
        flex-direction: column;
        padding-top: 10px
    }

    footer .text-footer p {
        text-align: center;
        margin-bottom: 10px
    }

    .images-box img {
        height: 234px !important
    }

    .sec-about .icon-box {
        width: 51px;
        height: 55px;
        font-size: 2rem
    }

    .card-img img {
        height: 199px
    }

    .description-img img {
        width: 100%;
        height: 200px
    }

    .height-1 {
        width: 13.8px;
        height: 13px
    }

    .sing-text h1 {
        margin-bottom: 31px !important;
        font-weight: 600;
        color: #2a2e43 !important;
        margin-top: -5px;
        font-size: 1.925rem !important
    }

    .emailes {
        margin-top: -5px !important
    }

    .sec-subscription .subscription-text {
        padding: 1px 20px
    }

    .sec-subscription .login-img {
        width: 100%;
        height: 324px;
        margin-top: -10px
    }

    .sec-subscription .bg-white {
        height: 950px
    }

    .btn-group {

        padding: 0 10px;
    }

    .officail-img .submit-btns {
        margin-left: 65px
    }

    .account-tabs {
        min-width: 135px;
        width: 100%
    }

    .profile-box .img-box {
        width: 91px;
        height: 81px;
        position: absolute;
        top: 30px
    }

    .account-tabs-content .grid-col .img-box .plus-img {
        top: 38px
    }

    .official-photo img {
        height: 119px;
        width: 160px
    }

    .my-account-sec .d-flex {
        flex-direction: column
    }

    table .padding-1 {
        padding: 11px 5px !important
    }

    .my-account-sec .suscribe-text .d-flex {
        display: flex !important;
        align-items: center;
        justify-content: space-between
    }

    .green-dot {
        width: 8px !important;
        height: 8px !important;
        position: relative;
        left: 22px;
        top: 0
    }

    .overflow-autos .card-body {
        flex: 0 0 auto;
        padding: 1rem
    }

    .map-img,
    .overflow-autos .card {
        height: auto
    }

    .suscription-text-box {
        margin-top: 143px
    }

    .suscription-text-box p {
        padding-left: 5px
    }

    .account-tabs-content .switch-notification {
        width: 261px;
        flex-direction: row
    }

    .tab-content-area {
        padding: 11px
    }

    .suscription-text-box .subscription-text {
        flex-direction: row
    }

    .suscribe-text .d-flex {
        flex-direction: row;
        align-items: center
    }

    .suscribe-text h4 {
        margin-top: 0
    }

    .notifications-text-box .subscription-text {
        margin-top: 11px;
        margin-left: -14px
    }

    .account-tabs-content .switch-notification {
        margin-left: 1px
    }

    .modal-body img {
        /* padding:25px 50px;
        height:176.3px */
    }

    .participating-business .pt {
        padding-top: 0 !important;
        margin-top: -49px
    }

    .back-button {
        padding-top: 9px;
        margin-top: 2px
    }

    .pt {
        padding-top: 50px !important;
        margin-top: -1px
    }

    .height-24 {
        height: 24px;
        font-size: 21px !important
    }

    .sec-about {
        margin-top: 72px !important
    }

    .absulute {
        position: unset !important
    }

    .mt-10 {
        margin-top: -30px
    }

    .map-area {
        height: auto;
        overflow: auto
    }

    .map-sec .resturent-name {
        padding: 15px
    }

    .map-sec .mar-1 {
        margin-top: 1px
    }

    .participating-businesses-single .card-img img {
        padding-top: 41px;
        height: 129px
    }

    .sec-subscription .subscription-box {
        height: 400px
    }

    .sec-subscription .subscription-text {
        margin-top: 40px !important;
        padding-bottom: 20px
    }

    .subscription-text .font-222 {
        font-size: 27px !important
    }

    .member-ship-text h2 {
        font-size: 16px
    }

    .member-ship-text h1 {
        font-size: 18px
    }

    .member-ship-text h4,
    .member-ship-text p {
        font-size: 12px
    }

    .sec-membership .annual-member-ship {
        padding: 43px 0
    }

    .member-ship-img {
        padding: 0 !important;
        margin: 0
    }

    .member-ship-img img {
        height: 100%
    }

    .member-ship-title h1 {
        font-size: 20px;
        padding: 6px
    }

    .height,
    .map-img {
        height: 50vh;
    }

    .member-ship-text {
        text-align: center;
    }

    .member_ship_modal .annual-member-ship {
        padding: 0;
        background-position: center;
        background-size: cover;
        padding: 18px 0;
    }

    .modal-body img {
        padding: 0 10px;
    }

    .noti-box {
        padding: 10px;
    }

    .notification-sec {
        padding: 30px 10px !important;
    }

    .noti-box p {
        font-size: 12px;
    }

    .noti-box img {
        width: 100%;
        height: 100%;
    }

    .noti-img {
        height: 130px;
    }
   button.slick-next.slick-arrow {
    margin-right: 20px;
}
}

@media screen and (max-width:400px) {
    .sec-membership .annual-member-ship {
        padding: 24px 0
    }


}