@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500&display=swap');
*,
.map-sec .font-8,
body {
  margin: 0;
}

.bg-yellow a,
.btn-area .btn-theme,
.btn-group,
.btn-group a,
.btn-infos,
.btn-send a,
.icon,
.icon-box i,
.navbar-nav .nav-item .hover-white:hover,
.sign-btn a,
.suscribe-text .color-fff,
.text-box h5,
.text-box p {
  color: #fff !important;
}

.benner-text-box h4,
.feature-text-box,
.text-box h5,
body,
h1,
h2,
h3,
h4,
h5,
h5.card-title,
h6 {
  font-family: "Kastelov - Axiforma Regular";
}

.bg-grey::before,
.participating-business .card .icon::before {
  inset: 0;
  z-index: -1;
  content: "";
}

.form__field[type="number"],
input[type="number"] {
  -moz-appearance: textfield;
}

.discription-icon,
.hide-icon {
  cursor: pointer;
}

@font-face {
  font-family: "Kastelov - Axiforma Regular";
  src: url("../Axiforma/Kastelov - Axiforma Book.otf");
}

@font-face {
  font-family: " SFUIDisplay- Regular";
  src: url("../SFUIDisplay/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "Kastelov - Axiforma Medium";
  src: url("../Axiforma/Kastelov - Axiforma Medium.otf");
}

@font-face {
  font-family: "Axiforma - bold";
  src: url("../Axiforma/Kastelov - Axiforma ExtraBold.otf");
}

.navbar-nav>li>a,
.review-modal .modal-body {
  padding: 0 !important;
}

.account-tabs-content .grid-col .img-box,
.bar,
.form-group,
.form-groups,
.from-box,
.participating-businesses-single .card-shadow,
.product-row,
.profile-form,
.relative {
  position: relative;
}

.color,
.color-ba8b00,
.discription-icon.active i,
.navbar-nav>li>a.active,
.navbar-nav>li>a:hover {
  color: #ba8b00 !important;
}

.category-text h6 {
  padding: 0 20px 20px;
}

*,
.height-81,
.modal-body .single-text-modal .modal-text,
.tab-content .review-text .reviews .color-333 {
  padding: 0;
}

.map-area {
  height: 870px;
  overflow: auto;
}

.logout-dropdown .dropdown-menu>li {
  margin-top: 0;
  padding: 0;
}

.height,
.map-img {
  height: 100%;
}

html {
  font-size: 90%;
}

body {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-theme,
.login-text h1,
.referral-history-text h1,
.sing-text h1,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  transition: 0.5s;
  color: #333 !important;
  text-decoration: none !important;
}

a:active,
a:focus,
a:hover {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
}

p {
  line-height: 1.63;
}

.pb {
  padding-bottom: 100px !important;
}

.participating-businesse .businesses-tab-content .pt {
  padding-top: 50px !important;
}

.font-22 {
  font-size: 1.375rem !important;
  color: #b38c2d !important;
}

.color-2e3227 {
  color: rgba(46, 51, 54, 0.6) !important;
}

.color-2e3336,
.color-grey {
  color: #2e3336 !important;
}

.bg-yellow {
  background-color: #ba8b00 !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  width: 90px !important;
  height: 36px !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-yellow,
li.nav-item .text-yellow {
  color: #ba8b00 !important;
  display: flex !important;
}

.text-yellow {
  width: 180px !important;
  height: 36px !important;
  border: 1px solid #ba8b00 !important;
  align-items: center !important;
  border-radius: 4px;
}

li.nav-item .text-yellow {
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none !important;
}

.aligns-centers {
  font-size: 1.09rem !important;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(179, 140, 45, 0.54);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bell-icon,
.height-24 {
  height: 24px;
}

.absolute {
  position: absolute;
  width: 100%;
}

.suscribe-text label,
.suscribe-texts label,
header {
  padding-top: 7px;
  opacity: 1 !important;
}

.fixed-bg,
.sticky-top {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.bg-grey::before {
  position: absolute;
  opacity: 0.05;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
}

.bg-grey {
  position: relative;
  z-index: 0;
}

.my-account .box-shadow-none {
  box-shadow: none !important;
}

.my-account-sec .box-shadow-tabs {
  box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #fff !important;
}

.navbar-nav>li:not(:last-child) {
  margin-right: 30px !important;
}

.subscription-text .form-check-input,
.term-text h1 {
  margin-top: 10px;
}

.bell-icon {
  object-fit: contain;
  font-size: 1rem !important;
}

.user-icon {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.text-box,
.text-box .btn-theme {
  background-color: #ba8b00 !important;
}

.img-box img {
  object-fit: cover;
  margin: 0 auto;
}

.benner-text-box {
  margin-top: 100px !important;
  margin-bottom: 40px;
}

.feature-text-box {
  color: #b38c2d !important;
  font-size: 1.375rem;
  font-style: italic !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.feature-img-box {
  padding: 0 10px;
  border: 1px solid #f1f1f1;
  width: 160px !important;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-text-box {
  padding-bottom: 110px;
  padding-top: 50px;
}

.text-box h5 {
  padding-bottom: 10px;
  font-size: 1.25rem !important;
  font-weight: 800 !important;
}

.text-box p {
  padding-bottom: 15px;
  font-size: 0.625rem;
  line-height: 1.6 !important;
  margin-top: 5px;
}

.card-bottom,
.forget-pass p,
.single-text p {
  padding-bottom: 10px;
}

.img-col {
  margin: 0 -10px;
}

.text-box {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  width: 420px;
}

.text-box .btn-theme {
  border: 1px solid #fff;
  width: 113px;
  height: 27px;
  font-size: 0.625rem !important;
  margin-top: 10px;
}

footer {
  background-color: #e8e8e8 !important;
  padding: 15px;
}

.text-footer {
  display: flex !important;
  justify-content: space-between !important;
  padding-top: 10px;
  color: #696982 !important;
  font-family: " SFUIDisplay- Regular" !important;
}

.font-25,
.font-26,
.font-36 {
  color: #202124 !important;
  font-weight: 600 !important;
}

.text-footer ul>li:not(:last-child) {
  margin-right: 40px;
}

.fixed-top {
  background-color: #fff !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}

.mt,
.sec-about {
  margin-top: 200px !important;
}

.font-25,
.font-26 {
  font-size: 1.625rem !important;
}

.images-box img {
  width: 100%;
  object-fit: cover;
}

.video-box {
  position: relative !important;
  padding-top: 50px !important;
}

.icon-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.479);
  font-size: 5rem;
}

.icon,
.participating-business .card .icon::before {
  opacity: 0.7;
  position: absolute;
  border-radius: 4px;
  width: 50px;
  height: 40px;
}

.about-text {
  padding-top: 20px;
  margin-top: 20px;
}

.about-text-box p {
 color: #202124;
    font-weight: 700;
    padding-top: 5px;
}
.about-text-box h3 {
         font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #b38c2d !important;
}

.about-text {
        width: 22.6%;
    display: inline-block;
    text-align: center;
    margin: 0 1%;
    padding: 20px;
    background-color: white;
    float: left;
    border-radius: 10px;
    box-shadow: 4px 12px 20px #673ab714;
    border-top: 1px solid #673ab714;
    border-left: 1px solid #673ab714;
}
html .about-text-box p.font-14 {
      font-size: 14px !important;
    min-height: 120px;
    color: #b38c2d !important;
}
.about-text:hover {
    box-shadow: 0px 9px 20px #997dc933;
}
.btn-group a,
.suscribe-btn {
  font-weight: 500 !important;
}

.about-text-box .font-14 {
  font-size: 0.875rem !important;
  font-weight: 500;
  color: #465064 !important;
}

.justify-content {
  display: flex;
  justify-content: space-between;
}

.img-icon .img {
  margin-right: 10px;
}

.font-36 {
  font-size: 2rem !important;
}

.forget-pass,
.froms-box,
.pt-20 {
  padding-top: 20px !important;
}

h5.card-title {
  padding-top: 5px;
}

.font-8 {
  font-size: 10px !important;
  margin-top: 20px;
  margin-left: 5px;
}

.card-title {
  font-size: 0.875 !important;
  color: #2e3336 !important;
}

.justify-content h3 {
  margin-top: 50px;
}

.justify-content .img-icon {
  padding-top: 42px;
}

.review-text p {
  margin-top: 5px !important;
}

.card-text {
  font-size: 14px !important;
  color: rgba(32, 33, 36, 0.6) !important;
}

.card-bottom {
  padding-left: 1rem;
}

.icon,
.input,
.map-sec .text-resturent {
  padding: 10px;
}

.icon {
  right: 5px;
  top: 5px;
  font-size: 1rem;
  border-radius: 5px;
}

.participating-business .card .icon {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: transparent;
  z-index: 0;
  border-radius: 4px;
}

.mar-tops {
  margin-top: 40px;
}

.btn-send,
.login-img,
.sec-contact,
.sec-membership {
  display: flex;
  align-items: center;
}

.btn-group {
  background-color: #ba8b00;
  border-radius: 4px;
  width: fit-content;
  padding: 0 10px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.font-20 {
  font-size: 1.25rem !important;
}

.annual-img,
.suscribtion-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.officail-code-modal .modal-dialog {
  max-width: 670px;
}

.btn-infos {
  background-color: #202124;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 32px;
  margin-top: 30px;
}

.bar,
.category-text.active,
.input {
  display: block;
}

.account-tabs-content,
.bar,
.full-name,
.input,
form {
  width: 100%;
}

.color-202124,
.font-14,
.notifications-text-box .subscription-text p {
  color: #202124 !important;
}

.contact-text p {
  padding-top: 20px;
}

.form-group,
.form__group,
.logins-boxs-center .login-text-box .login-text {
  margin-bottom: 45px;
}

.input {
  font-size: 14pt;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

.input::placeholder {
  color: transparent;
}

.input:placeholder-shown~label {
  top: 10px;
  font-size: 1.25rem;
  color: #ba8b00;
}

.form-group label,
.input:focus~label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #999;
  font-size: 14pt;
  font-weight: 400;
  pointer-events: none;
  transition: 0.2s;
}

.map-category-text,
.massage {
  width: 100% !important;
}

.bar:after,
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ba8b00;
  transition: 0.2s;
}

.referral-input .share-link-btn,
.subscription-text .history-btn {
  background-image: linear-gradient(to bottom, #f5d68a, #b38c2d);
  height: 40px;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus~.bar:after,
input:focus~.bar:before {
  width: 50%;
}

.input-search {
  position: absolute;
  cursor: pointer;
}

.map-category-text {
  position: absolute;
  display: none;
  right: 0 !important;
  z-index: 1;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  padding: 20px 0;
  transition: 0.5s;
  left: 0 !important;
  top: 80px !important;
  height: auto !important;
}

.btn-send {
  width: 120px;
  height: 40px;
  background-color: #b38c2d;
  justify-content: center;
  border-radius: 4px;
}

.pt-300 {
  padding-top: 395px !important;
}

.bg-ofwhite,
.sec-login {
  background-color: #eaedf2;
}

.login-img {
  justify-content: center;
  background: url("../img/sing-bg.png") center center/cover;
  width: 100%;
  height: 100%;
}

.sign-btn,
.submit-btn {
  align-items: center;
  display: flex;
}

.forget,
.login-text p {
  color: #b38c2d !important;
}

.hide-icon,
.message-icon {
  left: 1;
  font-size: 1.5rem !important;
  color: rgba(54, 62, 81, 0.55) !important;
  position: absolute;
}

.mar-bottom-1 {
  margin-top: 90px;
}

.login-text h1 {
  color: #2a2e43 !important;
}

.bg-white {
  background-color: #fff !important;
}

.message-icon {
  right: 10px;
  top: 10px;
}

.emails {
  margin-top: 40px;
  width: 100%;
}

.hide-icon {
  right: 4px;
  top: 12px;
}

.login-box {
  height: 900px;
}

.check-box p,
.text-1a1a1a {
  color: #1a1a1a !important;
}

.pt-10 {
  padding-top: 24px !important;
}

.sign-btn {
  background-color: #b38c2d !important;
  height: 71px;
  justify-content: center;
  border-radius: 12px;
}

.reset,
.submit-btn {
  background-color: #b38c2d;
}

.sign-btn,
.submit-btn {
  border: none;
  color: #fff !important;
}

.font-18 {
  font-size: 1.125rem !important;
}

.justify {
  display: flex;
  justify-content: center !important;
}

.sign-box {
  height: 803px;
}

.font-50 {
  font-size: 2.725rem !important;
}

.sing-text {
  padding: 20px 30px;
}

.justify-space {
  display: flex;
  justify-content: space-between !important;
}

.width-380 {
  width: 380px !important;
}

.sign-btn {
  margin-top: 25px;
  width: 100%;
}

.emailes {
  margin-top: 15px !important;
}

.forget-pass,
.suscribe-text {
  margin-top: 20px;
}

.sing-text h1 {
  margin-bottom: 45px !important;
  color: #2a2e43 !important;
}

.submit-btn {
  height: 71px;
  border-radius: 12px;
  justify-content: center;
  width: 100%;
}

.tetxt-red {
  color: #e02020 !important;
}

.text-b28b37 {
  color: #b28b37 !important;
}

.account {
  padding-top: 40px;
}

.img-text {
  color: #454f63 !important;
}

.pt-50 {
  padding-top: 50px;
}

.become-a-member .form-group label {
  color: #2a2e43 !important;
  font-size: 1.25rem !important;
}

.account span,
.suscribe-text h1 span {
  color: #696982;
}

.forget-text p,
.subscription-text p {
  color: #78849e !important;
  padding-top: 10px;
}

.forget-box {
  height: 574px;
}

.reset {
  color: #fff !important;
  width: 100%;
  height: 71px;
  border: none;
  border-radius: 12px;
}

.subscription-box {
  height: 594px;
}

.subscription-text {
  padding: 19px 20px 0;
}

.subscription-text p {
  padding-bottom: 31px;
}

.suscribe-text {
  /* border: 1px solid #8a9eb8; */
  padding: 10px 20px;
}

.font-14 {
  font-size: 0.875rem !important;
}

.suscribe-text h1,
.suscribe-texts h1 {
  color: #b38c2d !important;
  margin-top: 10px;
}

.text-Back,
hr {
  color: #8a9eb8 !important;
}

.suscribe-btn {
  margin-top: 25px;
  border: none;
  background-color: #ba8b00 !important;
  width: 150px;
  height: 40px;
  color: #fff;
  border-radius: 4px;
}

.forget-pass .become,
.form-check .text-696982,
.suscribe-texts h1 span {
  color: #000 !important;
}

.card-img img {
  width: 100%;
  padding-top: 105px;
}

.position {
  position: absolute;
  padding: 25px 20px;
}

.single-text h1 {
  margin-bottom: 10px;
}

.height-1,
.single-star img {
  width: 17.8px;
  height: 16px;
}

.single-text {
  padding: 24px 0;
}

.color-3b3b4d,
.single-location span {
  color: #3b3b4d !important;
}

.about-btn {
  border: 1px solid #b38c2d;
  background-color: #fff;
  color: #b38c2d !important;
  padding: 6px 20px;
  margin: 25px 20px;
}

.card-body .font-10 {
  padding-bottom: 0;
}

.height-81 {
  height: 81px !important;
}

.pt-0 {
  padding-top: 0;
}

.mt-10 {
  margin-top: -1px;
}

.back-button {
  border: none !important;
  background-color: #fff;
}

.participating-businesses-single .butn-none {
  position: absolute;
  padding: 0;
  top: 28px;
  left: 14px;
  border: none;
  background-color: #fff;
}

.color-000 {
  font-weight: 700;
  color: #ba8b00 !important;
}

.btn-redeemed,
.modal-body .btn-submit {
  background-color: #ba8b00 !important;
  color: #fff !important;
}

.discription-text-icon {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.discription-text h1 {
  color: #202124 !important;
  font-family: 600 !important;
}

.notifications-text-box .subscription-text h1,
.suscribtion-user .suscribtion-text-box .suscribe-text h4,
.term-text p,
.width-01 .suscribe-texts h4 {
  font-family: " SFUIDisplay- Regular";
}

.discription-text-box p {
  color: #b38c2d !important;
  padding-top: 10px;
}

.discription-icon i {
  font-size: 2rem !important;
  color: #696982 !important;
}

.btn-redeemed {
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  margin-top: 20px;
  height: 46px;
}



.discription-text-box h3 {
  font-weight: 500;
}

.discription-text-box h4 {
  color: rgba(32, 33, 36, 0.6) !important;
  padding-top: 0;
  line-height: 1.83;
  font-weight: 400;
  font-size: 14px !important;
}

.redem-text {
  margin-top: 25px;
}

.input-number {
  width: 130px;
  height: 46px;
  border: 1px solid rgba(138, 158, 184, 0.1);
  margin-top: 15px;
  border-radius: 4px;
}

.input-number input::-webkit-inner-spin-button,
.input-number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number input {
  width: 68px;
  height: 44px;
  border: none;
  color: #3b3b4d;
}

.input-number button {
  height: 46px;
  width: 30px;
  background-color: rgba(138, 158, 184, 0.2);
  border: none;
  color: #3b3b4d;
}

.discount-code-modal .modal-header,
.officail-code-modal .modal-header {
  border-bottom: none !important;
}

.discount-code-modal .align-left {
  align-items: center !important;
  margin-left: 190px !important;
}

.modal-header button {
  border: 1.5px solid #292d32 !important;
  width: 3px !important;
  height: 5px !important;
  font-size: 0.5rem !important;
  border-radius: 50% !important;
  background-color: #f2f2f2 !important;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px 6px 7px !important;
}

.discount-code-modal h5 {
  /* margin-top: -28px; */
}

.discount-code-modal input {
  width: 351px;
  height: 53px;
  background-color: #f1f1f1;
  border: none;
  padding-left: 10px;
  margin-top: 15px;
}

.discription-text-icon .font-normal {
  font-weight: 400 !important;
}

.notifications-text-box .subscription-text h1 {
  font-weight: 500;
}

.modal-body .btn-submit {
  border: none !important;
  width: 150px !important;
  height: 46px !important;
  margin-top: 20px !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  margin-bottom: 10px !important;
}

.pariatur-bussiness .top-1 {
  padding-top: 40px !important;
}

.modal-body img {
  object-fit: cover;
}

.officail-code-modal .modal-header button {
  margin-right: -7px;
  margin-top: -7px;
}

.notification-dropdown .dropdown-toggle::after {
  content: none;
}

.notification-dropdown a {
  font-size: 1.5rem;
}

.notification-dropdown .dropdown-menu {
  padding: 0;
  margin: 0;
}

.notification-dropdown .dropdown-menu .dropdown-item {
  padding: 10px;
  margin: 0;
}

.notification-dropdown .dropdown-menu .dropdown-item .icon-box {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.map-sec .img-maps,
.notification-dropdown .dropdown-menu .dropdown-item .icon-box img,
.notification-dropdown .dropdown-menu .dropdown-item .icon-box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification-dropdown .dropdown-menu .dropdown-item .icon-box2 {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 20px;
}

.notification-dropdown .text-box2 p {
  font-size: 0.8125rem;
  line-height: normal;
}

.notification-dropdown .text-box2 date {
  font-size: 12px;
}

.logout-dropdown .dropdown-menu>li:not(:last-child),
.notification-dropdown .dropdown-menu>li:not(:last-child) {
  border-bottom: 1px solid rgb(213 213 213);
}

.logout-dropdown .dropdown-toggle::after {
  content: url(../img/logout-dropdown.png) !important;
  border: 0;
  position: relative;
  left: 10px;
  top: 2px;
}

.logout-dropdown ul.dropdown-menu {
  padding: 0;
  margin: 20px 0 0;
}

.logout-dropdown ul.dropdown-menu a {
  padding: 18px;
}

.account-tabs button.nav-link {
  border-bottom: 1px solid rgba(138, 158, 184, 0.3);
  text-align: left;
  color: #696982;
  height: 65px;
  border-radius: 0;
}

.account-tabs button.nav-link i {
  color: #696982;
  font-size: 24px;
  margin-right: 20px;
}

.account-tabs {
  box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.2);
}

.account-tabs.nav-pills .nav-link.active,
.nav-pills.account-tabs .show>.nav-link {
  background-color: rgba(219, 164, 1, 0.2);
  box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.2);
  color: #b38c2d !important;
}

.account-tabs button.nav-link .active-icon,
.account-tabs button.nav-link.active .non-active-icon {
  display: none;
}

.account-tabs button.nav-link .non-active-icon,
.account-tabs button.nav-link.active .active-icon {
  display: block;
  display: inline-flex;
}

.account-tabs.nav-pills .nav-link.active i,
.nav-pills.account-tabs .show>.nav-link i {
  color: #b38c2d;
}

.tab-content-area {
  background-color: #eff2f5;
  padding: 50px;
  min-height: 100vh;
}

.card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.mes-5 {
  margin-left: 50px;
}

.modal-body .modal-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs :hover,
.pencil-bnt,
.sec-about .icon-box {
  border: none;
}

.account-tabs-content .grid-col .img-box .plus-img {
  position: absolute;
  top: -130px;
  width: 22px;
  right: 0;
  height: 22px;
  overflow: hidden;
}

.profile-box .img-box {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 30px;
}

.profile-box .img-box .paitent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0 !important;
  border-radius: 50% !important;
}

.tab-content-box {
  background-color: #fff;
  padding: 20px;
}

.padding-100 {
  padding-bottom: 107px;
}

.tab-content-box .edit-profile {
  width: 150px;
  height: 46px;
  color: #fff;
  background-color: #ba8b00;
  border: none;
  border-radius: 4px;
  font-weight: 500;
}

.forget-text .forms-box,
.modal-body .modal-tabs,
.referral-table table,
.tab-content .top-1,
.tab-content-box .profile {
  margin-top: 30px;
}

.form-group input::-webkit-inner-spin-button,
.form-group input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.official-photo p {
  color: #454f63;
}

.official-photo img {
  height: 119px;
  object-fit: cover;
  margin-top: 10px;
}

.referral-history-text h1,
.referral-history-text p {
  color: #202124;
  margin-top: 20px;
}

.account-tabs .w-24 {
  width: 18px;
}

.account-tabs,
.account-tabs-content {
  height: 100%;
}

.my-favorites h1,
.referral-text h1,
.tab-box h1 {
  color: #202124;
}

.months-extr-btn,
.referral-input p {
  color: #b38c2d;
  margin-top: 30px;
}

.referral-input input {
  width: 449px;
  height: 40px;
  object-fit: cover;
  border: 1px solid #8a9eb8;
  background-color: #fff;
  padding: 0 10px;
}

.referral-input .share-link-btn {
  border-radius: 4px;
  width: 110px;
  border: none;
}

.referral-table .bg-eff2f5 {
  background-color: rgba(69, 79, 99, 0.5);
  color: #fff;
}

.referral-table .border-right {
  border-right: 1px solid rgba(69, 79, 99, 0.5) !important;
}

.referral-table .color-green {
  color: #59a500 !important;
}

.referral-table .color-yellow {
  color: #dba401 !important;
}

.referral-table .border-left {
  border-left: 1px solid rgba(69, 79, 99, 0.5) !important;
}

.pdd-10 {
  padding: 10px !important;
}

.bg-eff {
  background-color: #f7f7fa;
}

.bg-aff {
  background-color: #eff2f5;
}

.table> :not(caption)>*>* {
  border-bottom-width: 0;
}

table .padding-1 {
  padding: 14px 24px !important;
}

.subscription-text .history-btn {
  width: 100px;
  border: none;
  border-radius: 5px;
  color: #202124;
}

.suscription-text-box p {
  color: #202124;
  padding-left: 20px;
}

.bg-3b3b4d {
  border: 1px solid #8a9eb8 !important;
  border-radius: 4px;
  background-color: #3c3b4d;
}

.border-none,
.officail-photo,
.pencil-icon {
  border: none !important;
}

.months-extr-btn {
  background-color: #3b3b4d;
  border: 1px solid #b28b37;
  width: 140px;
  height: 30px;
}

.suscribtion-text-box .width-01 {
  object-fit: cover !important;
  object-fit: cover !important;
  border-radius: 4px !important;
  border: 1px solid #8a9eb8 !important;
}

.modal-body .modal-img-text .california-text,
.suscribtion-text-box {
  margin-left: 20px;
}

.green-dot {
  width: 6px !important;
  height: 6px !important;
  background-color: #09f200 !important;
  margin-left: 97px;
  border-radius: 50%;
}

.suscribe-texts {
  margin-top: 20px;
  padding: 10px 20px;
  height: 324px;
}

.suscribe-texts h4 {
  margin-top: 10px;
  color: #696982 !important;
}

.term-text p {
  padding-top: 20px;
  color: #465064 !important;
  font-weight: 00 !important;
}

.officail-img .submit-btn {
  width: 150px;
  height: 46px;
  border-radius: 4px;
  font-weight: 500 !important;
  background-color: #ba8b00;
}

.officail-img .submit-btns {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-tabs-content .switch-notification {
  border-radius: 10px;
  border: 1px solid #696982;
  width: 522px;
  height: 70px;
  padding: 0 20px;
  margin-left: 25px;
}

.account-tabs-content .switch-notification .form-check-input:checked {
  background-color: #66c010;
  border-color: #66c010;
}

.account-tabs,
.bg-fff,
.box-shadow-center,
.map-sec .search-back-img,
.map-sec .search-map {
  background-color: #fff;
}

.account-tabs-content .switch-notification .form-switch .form-check-input {
  width: 38.3px;
  height: 20px;
}

.suscribed-text-box .package-box {
  margin-right: 110px;
  padding: 30px 20px 20px 25px;
}

.subscribed-text h1 {
  padding-left: 20px;
}

.suscribed-text-box .subscribed-date-box {
  margin-right: 70px;
  padding: 30px 20px 20px 25px;
}

.suscribed-text-box .expiry-date-box {
  padding: 40px 0 25px;
}

.padding-suscribed-section {
  padding: 20px 0 !important;
}

.color-3443e5a {
  color: #243e5a !important;
}

.border-boottom {
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  width: 100% !important;
}

.modal-body .single-text-modal .modal-text img {
  height: 14px;
  width: auto;
  object-fit: cover;
  padding: 0;
}

.modal-body .single-text-modal .modal-img img {
  height: 10px;
  width: auto;
  object-fit: cover;
  padding: 0;
}

.modal-body .single-text-modal .modal-img {
  height: auto;
  width: auto;
  padding: 0;
}

.modal-body .single-star img {
  height: 16px;
  width: auto;
  object-fit: cover;
  padding: 0;
}

.modal-body .modal-img-text {
  justify-content: center;
  margin-top: 15px;
}

.padding-110 {
  padding-bottom: 580px;
}

.padding-111 {
  padding-bottom: 210px;
}

.overflow-autos {
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow-autos::-webkit-scrollbar {
  display: none;
}

.my-favorites {
  height: 49px;
}

.modal-body .modal-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #b38c2d !important;
}

.modal-body .modal-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs {
  border-top: 1px solid rgba(138, 158, 184, 0.3);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
  border-bottom: 2px solid transparent;
}

.modal-body .modal-tabs .nav-tabs .nav-item.show .nav-link {
  color: #333 !important;
  padding: 10px;
}

.nav-link {
  color: #333 !important;
  border: none;
}

.modal-body .nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0;
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.review-text .review-bottom,
.review-text .reviews .border-1-solid {
  border-bottom: 1px solid rgba(138, 158, 184, 0.3);
}

.modal-body .tab-content-about {
  padding: 50px 30px;
}

.modal-body .tab-content-about .tab-img img {
  padding: 0;
  height: 229px;
  object-fit: cover;
}

.review-modal .modal-dialog {
  min-width: 670px;
  margin: 0 auto;
}

.tab-content .color-333 {
  color: #333;
  padding-top: 12px;
  font-size: 14px !important;
  opacity: 0.6;
}

.tab-content .font-500 {
  font-weight: 500;
  color: #3b3b4d;
}

.category-text .border-3-solid,
.map-sec .resturent-name,
.review-text .review-bottom {
  padding: 20px;
}

.review-text .reviews img {
  padding: 0;
  height: 11px;
  position: relative;
  top: -2px;
}

.review-text .reviews .text-left {
  margin-left: 5px;
}

.review-text .reviews {
  padding: 10px 20px;
}

.review-text .reviews .bottom-2 {
  padding-bottom: 10px !important;
}

.participating-businesse .nav .nav-item .active {
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
}

.participating-businesse .nav .nav-item .color-3333,
.review-modal .modal-body .nav-tabs .nav-link {
  color: rgba(51, 51, 51, 0.6) !important;
}

.map-sec .search-back-img {
  border: none;
  width: 17.6px;
  height: 11.9px;
}

.category-text .border-3-solid,
.map-sec .border-2-solid {
  border-bottom: 1px solid #ebebeb;
}

.map-sec .input-search {
  position: relative;
  width: 245px;
  margin-left: 20px;
}

.map-sec .img-of-search {
  position: absolute;
  left: 10px;
  top: 10px;
}

.map-sec .img-setting {
  position: absolute;
  top: 7px;
  right: -3px;
}

.box-shadow-center {
  box-shadow: 0 43px 46px 0 rgba(0, 0, 0, 0.11);
}

.map-sec .search-map {
  padding: 10px;
  height: 80px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.map-sec .mar-1 {
  margin-top: -7px;
}

.map-sec .search-input::placeholder {
  color: #8a9eb8;
  opacity: 1;
}

.map-sec .search-input :-ms-input-placeholder {
  color: #8a9eb8;
}

.map-sec .search-input::-ms-input-placeholder {
  color: #8a9eb8;
}

.map-sec .search-back-img {
  margin-left: 10px;
}

/* .category-text {


  right: 13px;

  width: 330px;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  padding: 20px 0;
  transition: 0.5s;
} */
.category-text {
  position: absolute;
  right: 13px;
  z-index: 1;
  width: 330px;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  padding: 20px 0;
  transition: all 0.5s ease;
  width: 320px;
}

.member-ship-img,
.member-ship-img img {
  width: 100%;
  height: 100%;
}

.category-text .submit-btn {
  width: 150px !important;
  height: 50px;
  border-radius: 4px;
  margin: 30px auto 0;
}

section.my-account-sec {
  margin-top: 100px;
}

.account-tabs {
  min-width: 300px;
  box-shadow: -5px 0 15px 0 rgb(0 0 0 / 20%);
}

section.map-sec {
  margin-top: 102px;
}

.map-sec .search-input {
  width: 263px;
  height: 38px;
  border-radius: 10px;
  color: #8a9eb8;
  padding-left: 39px;
  border: 1px solid #8a9eb8;
}

.membership-text,
.participating-businessea.pariatur-bussiness {
  padding-top: 100px;
}

.annual-img {
  padding-bottom: 390px;
  padding-top: 70px;
}

.subscription-text .form-check-input:checked,
.suscribtion-user .suscribtion-text-box .suscribe-text .form-check-input:checked,
.width-01 .form-check-input:checked {
  background-color: #b38c2d;
  border-color: #b38c2d;
}

.my-favorites h1,
.suscribtion-user .suscribtion-text-box .suscribe-text button,
.suscribtion-user .suscribtion-text-box .suscribe-text h1,
.width-01 .suscribe-texts h1 {
  font-family: " SFUIDisplay- Regular";
  font-weight: 600;
}

.suscribtion-user .suscribtion-text-box .suscribe-text .form-check .form-check-input,
.width-01 .form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 10px;
}

.width-01 .suscribe-texts h4 {
  font-weight: 400;
}

.overflow-autos .card-bottom p {
  font-weight: 700;
}

.referral-history-img img {
  position: relative;
  top: -38px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: 0;
  font-size: 14px;
  color: #212121;
  background: 0 0;
  transition: border-color 0.2s;
  padding: 10px;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 16px !important;
  cursor: text;
  color: #a8b2c7 !important;
  top: 0;
}

.form__field:focus~.form__label,
label {
  position: absolute;
  top: -20px;
  display: block;
  transition: 0.2s;
  color: #2a2e43 !important;
  font-size: 16px !important;
}

.form__field:focus~.form__label {
  color: #009788;
}

.form__field:focus {
  border-bottom: 2px solid #ba8b00;
}

.form__group {
  margin-top: 15px !important;
}

.form-check label {
  position: unset;
}

.bg-ofwhite .login-text-box .form-check-input:checked {
  background-color: #ba8b00;
  border-color: #ba8b00;
}

.bg-ofwhite .login-text-box .form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  margin-top: 7px;
}

.form__field::-webkit-inner-spin-button,
.form__field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.font-12 {
  font-size: 18px !important;
}

.card-body .font-10,
.font-10 {
  font-size: 14px !important;
}

.suscribtiom-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forget-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column !important;
}

.login-sign-img {
  background: url("../img/sing-bg.png") center center/cover no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logins-box-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.officail-code-modal .Official-id h5 {
  font-family: "Kastelov - Axiforma Regular" !important;
  font-weight: 600%;
}

section.participating-business {
  margin-top: 100px;
}

.forget-password-center,
.height .pt-top-1,
.logins-boxs-center,
.suscribtion-center .sec-login {
  padding: 100px 0;
}

.officail-code-modal .Official-id {
  margin-top: -20px;
  margin-bottom: 50px;
  font-weight: 600;
}

.officail-code-modal .officail-img {
  padding: 0 24px;
}

.suscribe-text h4 {
  color: #696982 !important;
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px !important;
}

.suscribes-btn {
  margin-bottom: 15px;
}

.font-45 {
  font-size: 2.5125rem !important;
}

.forget-text .font-20 {
  font-size: 15px !important;
}

.forget-text {
  padding: 50px 70px;
}

.login-text-box {
  padding: 20px 60px;
}

.sec-contact {
  padding: 100px 0;
  min-height: 85vh;
  height: 100%;
}

.font-medium {
  font-family: "Kastelov - Axiforma Medium";
}

.account-tabs button.nav-link img {
  margin-right: 10px;
}

.participating-businessea.pariatur-bussiness .top-1 {
  margin-bottom: 50px;
}

.participating-businessea.pariatur-bussiness h1.font-18 {
  font-size: 20px !important;
}

.toggle-password {
  cursor: pointer !important;
}

.member_ship_modal .annual-member-ship {
  background-image: url(../img/member-ship-bg.png);
  background-repeat: no-repeat;
  padding: 60px 30px;
}

.member-ship-text {
  color: #fff;
}

.member-ship-text h2 {
  font-size: 22px;
  /* padding-bottom: 15px; */
  /* margin-top: 20px; */
}

.member-ship-text h1 {
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.member-ship-text h4 {
  font-size: 16px;
  /* padding-bottom: 10px; */
}

.member_ship_modal .modal-header {
  border: 0;
}

.member_ship_modal {
  max-width: 600px;
}

.member_ship_modal .modal-body {
  margin: 50px 63px;
  padding: 0;
}

.member-ship-img {
  padding: 0 50px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.member_ship_modal .modal-header .btn-close {
  padding: 5px !important;
  margin: 0;
  position: absolute;
  right: 30px;
  top: 20px;
  height: 12px !important;
  width: 14px !important;
  z-index: 1;
  font-size: 10px !important;
}

.member-ship-title h1 {
  font-size: 26px;
  font-weight: 600;
  padding: 10px 0 5px 10px;
  color: #202124;
}

.img-section .img-text-box h1 {
  color: #b38c2d;
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
}

.text-center {
  font-size: 22px;
  font-style: italic;
}

.img-icon {
  max-height: 215px;
  overflow: hidden;
  min-height: 215px;
  height: 200px;
}

.img-icon img {
  height: 100% !important;
  overflow: auto;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  min-height: 150px;
  max-height: 120px;
}

.participating-business .participating-dropdown,
.participating-dropdown .dropdown-menu.show {
  border: 0;
}

.participating-business .location-dropdown {
  width: 44px;
  height: 44px;
  border: 0;
  object-fit: cover;
  border: solid 1px #b38c2d !important;
  background-color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 6px;
}

.participating-business .location-dropdown:focus {
  box-shadow: none;
}

.participating-business .participating-dropdown {
  position: unset;
}

.img-of-resturent {
  width: 60px;
  height: 60px;
}

.img-of-resturent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-card .card-img {
  height: 350px;
  overflow: hidden;
}

.single-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-resturent span.font-8 {
  margin-right: 15px !important;
}

.feature-brand {
  padding: 100px 0;
}


/* New changes  */


.suscribe-text h4 {
  font-size: 22px !important;
}

.suscribe-text h1 {
  font-size: 30px !important;
  margin-top: 0 !important;
}

.suscribe-text .form-check {
  padding: 11px 25px;
}

.active-bg-3b3b4d {
  background-color: #3b3b4d;
  color: #fff !important;
}

.active-bg-3b3b4d .suscribe-text h4 {
  color: #fff !important;
}

.active-bg-3b3b4d .suscribe-text .form-check .text-696982 {
  color: #fff !important;
}

s {
  font-weight: 100;
  color: #d1d1d1;
}

.upload-icon {
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.upload-icon img {
  margin-top: 0 !important;
  cursor: pointer;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 9999;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

/* New changes  End  */

/* Slider css  */

.banner-slider .slick-dots li.slick-active button:before {
  color: #dba401;
}

.banner-slider .slick-dots li button:before {
  color: #dba401;
}

.banner-slider .slick-dots li {
  margin: 0 !important;
}

.benner-section {
  padding: 150px 0 0 0;
}

.banner-slider .slider-first-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-slider .slider-item .slider-title p {
  color: #b38c2d;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 100 !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px !important;
  line-height: 1;
  color: #b38c2d !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider-title p {
  color: #b38c2d;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 100 !important;
}

.slider-first-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noti-box {
  padding: 50px 80px;
  text-align: center;
}

.noti-box img {
  margin-bottom: 70px;
}

.noti-box p {
  color: #b38c2d;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.notification-sec {
  padding: 50px !important;
}

.p-none {
  padding: 0 !important;
}

/* Slider css End */

span.font-10.OldPrice {
    text-decoration: line-through;
}


span.smallLabel {
    color: #adadad;
    font-size: 14px;
}
.howToRedeemBox {
    border: 1px solid;
    display: block;
    clear: both;
    padding: 10px 10px !important;
    margin-top: 19px;
    border-radius: 5px;
    border-color: #bdbdbd;
}

div#reviews-recipe {
    background-color: whitesmoke;
    padding: 50px;
    margin-bottom: 50px;
}

div#reviews-recipe form {
    margin: 20px 0;
}
ul.webwidget_rating_simple li {display: inline-block;margin-right: 7px;cursor: pointer;}

ul.webwidget_rating_simple span {
    font-size: 15px;
    display: block;
    color: #000;
    position: relative;
    width: 47px;
    text-align: center;
    line-height: 3.4;
    font-weight: bold;
    height: 44px;
    background-repeat: no-repeat;
}

ul.webwidget_rating_simple span:before {}

select#rating_simple {
    height: 0;
}

textarea.form-control[name="review"] {
    margin: 10px 0;
}

ul.webwidget_rating_simple li:before {
    content: "\f005";
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 0;
    font-family: 'FontAwesome';
    color: #efbb21;
    font-size: 36px;
    opacity: 0;
}
ul.review-loop li {
    background-color: #ffff;
}

ul.review-loop li span.user {
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #e9e9e9;
    text-transform: uppercase;
    font-weight: bold;
}

.review-content-user {
    padding: 20px;
}

span.rating {
    padding: 0px 20px 20px;
    display: block;
}